.result-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;

  > thead > tr > th,
  > tbody > tr > td {
    padding: 10px;
  }
  > thead > tr > th {
  }
  > tbody > tr > td {
  }
}
